<div class="project-body">
  <h2 class="project__title">Nos projets</h2>
  <div class="gallary_container">
    <div class="image_container image-wide image-tall">
      <img
        src="https://picsum.photos/id/599/800/530"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>

    <div class="image_container">
      <img
        src="https://picsum.photos/200/300?random=1"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>

    <div class="image_container">
      <img
        src="https://picsum.photos/200/300?random=2"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>

    <div class="image_container image-wide">
      <img
        src="https://picsum.photos/200/300?random=3"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>

    <div class="image_container">
      <img
        src="https://picsum.photos/200/300?random=4"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>

    <div class="image_container">
      <img
        src="https://picsum.photos/200/300?random=5"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>

    <div class="image_container image-tall">
      <img
        src="https://picsum.photos/200/300?random=6"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>

    <div class="image_container">
      <img
        src="https://picsum.photos/200/300?random=7"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>

    <div class="image_container">
      <img
        src="https://picsum.photos/200/300?random=8"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>

    <div class="image_container">
      <img
        src="https://picsum.photos/200/300?random=9"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>

    <div class="image_container">
      <img
        src="https://picsum.photos/200/300?random=10"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>

    <div class="image_container">
      <img
        src="https://picsum.photos/200/300?random=11"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>
    <div class="image_container image-wide image-tall">
      <img
        src="https://picsum.photos/id/599/800/530"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>

    <div class="image_container">
      <img
        src="https://picsum.photos/200/300?random=1"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>

    <div class="image_container">
      <img
        src="https://picsum.photos/200/300?random=2"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>

    <div class="image_container image-wide">
      <img
        src="https://picsum.photos/200/300?random=3"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>

    <div class="image_container">
      <img
        src="https://picsum.photos/200/300?random=4"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>

    <div class="image_container">
      <img
        src="https://picsum.photos/200/300?random=5"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>

    <div class="image_container image-tall">
      <img
        src="https://picsum.photos/200/300?random=6"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>

    <div class="image_container">
      <img
        src="https://picsum.photos/200/300?random=7"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>

    <div class="image_container">
      <img
        src="https://picsum.photos/200/300?random=8"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>

    <div class="image_container">
      <img
        src="https://picsum.photos/200/300?random=9"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>

    <div class="image_container">
      <img
        src="https://picsum.photos/200/300?random=10"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>

    <div class="image_container">
      <img
        src="https://picsum.photos/200/300?random=11"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>
    <div class="image_container image-wide image-tall">
      <img
        src="https://picsum.photos/id/599/800/530"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>

    <div class="image_container">
      <img
        src="https://picsum.photos/200/300?random=1"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>

    <div class="image_container">
      <img
        src="https://picsum.photos/200/300?random=2"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>

    <div class="image_container image-wide">
      <img
        src="https://picsum.photos/200/300?random=3"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>

    <div class="image_container">
      <img
        src="https://picsum.photos/200/300?random=4"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>

    <div class="image_container">
      <img
        src="https://picsum.photos/200/300?random=5"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>

    <div class="image_container image-tall">
      <img
        src="https://picsum.photos/200/300?random=6"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>

    <div class="image_container">
      <img
        src="https://picsum.photos/200/300?random=7"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>

    <div class="image_container">
      <img
        src="https://picsum.photos/200/300?random=8"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>

    <div class="image_container">
      <img
        src="https://picsum.photos/200/300?random=9"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>

    <div class="image_container">
      <img
        src="https://picsum.photos/200/300?random=10"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>

    <div class="image_container">
      <img
        src="https://picsum.photos/200/300?random=11"
        alt="mosaic collection image"
        loading="lazy"
      />
    </div>
  </div>
</div>
