@import "../../styles.scss";

.hero {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/heroImages/cuisine.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-title-container {
  background-image: linear-gradient(.25turn, #0e1111, #0e111100);
  width: 100%;
}

.hero-title {
  color: white;
  text-shadow: 0px 0px 5px black;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  position: absolute;
  padding: 24px;
  top: 50%;
}

a {
 color: inherit;
 text-decoration: none;
}

p {
  padding: 16px;
}

.accueil-body {
  max-width: 1200px;
  margin: auto;
  padding-top: 32px;
  padding-bottom: 64px;
  // background-color: #0e1111;
  text-align: center;
}

.display-flex {
  display: flex;
  overflow-x: auto;
  text-align: center;
  gap: 16px;
  justify-content: space-between;
  margin: 0px 16px;
  padding-bottom: 6px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

// /* Track */
// ::-webkit-scrollbar-track {
//   background: #f1f1f1;
// }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card {
  background-color: #202020;
  color: #fff;
  padding: 10px;
  box-shadow: 0px 1px 5px black;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 1;
}

.service-icon {
  width: 120px;
  font-size: 100px;
  padding: 10px
}

.contact {
  display: flex;
  margin: auto;
  text-align: left;
  padding: 16px;
  gap: 16px;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.pl-0 {
  padding-left: 0px;
}

@media (orientation: portrait) {
  .hero-title-container {
    background-image: linear-gradient(#0e111100, #0e1111);
  }

  .hero-title {
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    bottom: 0;
    left: 0;
    top: auto
  }

  .accueil-body {
    text-align: left;
    padding-top: 0px;
  }

  .contact {
    margin: 24px;
    padding: 0;
    flex-direction: column;
  }
}

mat-toolbar {
  position: fixed;
  z-index: 1;
}

.email-form {
  display: flex;
  flex-direction: column;
}

textarea {
  height: 300px;
}

.pr-1 {
  padding-right: 8px;
}

.see-projects {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.test-card {
  width: 130px;
  height: 130px;
  box-shadow: 0px 1px 5px black;
  border-radius: 4px;
}

.card-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 4px;
  opacity: 0.4;
  z-index: 0;
}

.max-h100 {
  max-height: 100%;
}

.min-h0 {
  min-height: 0;
}

.flex-100 {
  flex: 1 1 100%;
}

.flex-0 {
  flex: 0 0 auto;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.z1 {
  z-index: 1;
}

.z2 {
  z-index: 2;
}

.primary {
  color: #004e98;
}

.blue-gradient {
  background: rgb(9,9,121);
  background: linear-gradient(155deg, rgba(9,9,121,0.7) 0%, rgba(0,212,255,0.7) 100%);
  color: white;
}

.red-gradient {
  background: rgb(121,9,43);
  background: linear-gradient(155deg, rgba(121,9,43,0.7) 0%, rgba(255,110,0,0.7) 100%);
  color: white;
}

.green-gradient {
  background: rgb(66,121,9);
  background: linear-gradient(155deg, rgba(66,121,9,0.7) 0%, rgba(0,255,157,0.7) 100%);
  color: white;
}

.purple-gradient {
  background: rgb(37,9,120);
  background: linear-gradient(155deg, rgba(37,9,121,0.7) 0%, rgba(213,0,255,0.7) 100%);
  color: white;
}

.d-flex {
  display: flex;
  gap: 10px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.ratio-1 {
  aspect-ratio: 1 / 1;
}

.flex-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.icon {
  position: absolute;
  z-index: 0;
  opacity: 0.4;
  padding: 20px
}

.icon-text {
  text-shadow: 0 0 7px #000;
  font-size: 2.3em;
  font-weight: 500;
  line-height: 1em;
}

.clip {
  overflow-y: clip;
}

.color-black {
  color: black;
}

.coord-text {
  font-size: 1.3em;
  line-height: 1.3em;
}

.services-small-screen {
 display: none; 
}

.services-big-screen {
  display: flex;
  gap: 10px;
}

@media (max-width: 600px) {
  .services-small-screen {
    display: flex;
    gap: 10px;
  }

  .services-big-screen {
    display: none;
  }
}

.pb-10 {
  padding-bottom: 10px;
}