@import "../../styles.scss";

.hero {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/heroImages/cuisine.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-title-container {
  background-image: linear-gradient(.25turn, #0e1111, #0e111100);
  width: 100%;
}

.hero-title {
  text-shadow: 0px 0px 5px black;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  position: absolute;
  padding: 24px;
  top: 50%;
}

a {
 color: inherit;
 text-decoration: none;
}

p {
  padding: 16px;
}

footer {
  background-color: #333333;
  color: white;
  padding: 1rem;
}

.footer {
  padding: 16px;
}

.accueil-body {
  max-width: 1000px;
  margin: auto;
  padding-top: 32px;
  padding-bottom: 64px;
  background-color: #0e1111;
  text-align: center;
}

.display-flex {
  display: flex;
  overflow-x: auto;
  text-align: center;
  gap: 16px;
  justify-content: space-between;
  margin: 0px 16px;
  padding-bottom: 6px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

// /* Track */
// ::-webkit-scrollbar-track {
//   background: #f1f1f1;
// }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card {
  background-color: #202020;
  color: #fff;
  padding: 10px;
  box-shadow: 0px 1px 5px black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 1;
}

.service-icon {
  width: 120px;
  font-size: 100px;
  padding: 10px
}

.see-project {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  margin-bottom: 42px; // bugfix
  background-color: #202020;
  color: #fff;
  padding: 10px;
  box-shadow: 0px 1px 5px black;
  border-radius: 10px;
}

.see-project:hover {
  cursor: pointer;
  background-color: #302f2f;
}

.contact {
  line-height: 32px;
  font-size: 20px;
  max-width: fit-content;
  margin: auto;
  text-align: left;
}

h3 {
  margin: 0;
  margin-right: 10px;
  padding: 0;
  text-transform: uppercase;
  font-size: 16px;
}

@media (orientation: portrait) {
  .hero-title-container {
    background-image: linear-gradient(#0e111100, #0e1111);
  }

  .hero-title {
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    bottom: 0;
    left: 0;
    top: auto
  }

  .accueil-body {
    text-align: left;
    padding-top: 0px;
  }

  .contact {
    margin: 24px;
  }
}