<div class="hero" [style.background-image]="heroImage">
    <div class="hero-title-container">
        <h1 class="hero-title">
            Des changements<br>
            qui font toute la différence
        </h1>
    </div>

</div>

<div class="accueil-body">
    <h2>Du travail de qualité</h2>
    <p>
        IBA est une entreprise de Mascouche oeuvrant dans le domaine de la construction et de la
        rénovation depuis de nombreuses années. Nous sommes spécialisés dans la rénovation résidentielle et
        industrielle et nous avons une vaste expérience dans tout type de travaux intérieurs et extérieurs.
        Notre mission est de fournir un service rapide et professionnel à nos clients à un prix
        concurrentiel. IBA est cautionné, accrédité par la régie du bâtiment du Québec.
        De plus, nous sommes souscris à une assurance responsabilité de 2&nbsp;000&nbsp;000$ ainsi qu'une caution
        de 40&nbsp;000$.
    </p>
    <h2>Services</h2>
    <div class="display-flex">
        <div class="card">
            <mat-icon class="service-icon" style="color: rgb(202, 192, 48);">home</mat-icon>
            <div>Soumission gratuite</div>
        </div>
        <div class="card">
            <mat-icon class="service-icon" style="color: rgb(49, 165, 165);">home</mat-icon>
            <div>Cuisine</div>
        </div>
        <div class="card">
            <mat-icon class="service-icon" style="color: coral;">home</mat-icon>
            <div>Salle de bain</div>
        </div>
        <div class="card">
            <mat-icon class="service-icon" style="color: rgb(151, 76, 189);">home</mat-icon>
            <div>Sous-sol</div>
        </div>
        <div class="card">
            <mat-icon class="service-icon" style="color: palevioletred;">home</mat-icon>
            <div>Portes et fenêtres</div>
        </div>
    </div>
    <div class="see-project">
        <h3>Voir des projets</h3>
        <mat-icon>arrow_forward</mat-icon>
    </div>
    <h2>Contactez-nous</h2>
    <div class="contact">
        <div>IOSIF BALEA</div>
        <div><a href="tel:514-516-2856">514-516-2856</a></div>
        <div><a href="mailto:baleaiosif@gmail.com">baleaiosif@gmail.com</a></div><br>
        <div>APCHQ : 556749 03</div>
        <div>RBQ : 5801 1313 01</div>
        <div>NEQ : 1176399724</div>
    </div>
</div>