<mat-toolbar>
    <span>IBA construction</span>
</mat-toolbar>
<div class="hero" [style.background-image]="heroImage">
    <div class="hero-title-container">
        <h1 class="hero-title">
            Des changements<br>
            qui font toute la différence
        </h1>
    </div>

</div>
<div class="accueil-body">
    <h2>Du travail de qualité</h2>
    <p>
        IBA est une entreprise de Mascouche oeuvrant dans le domaine de la construction et de la
        rénovation depuis de nombreuses années. Nous sommes spécialisés dans la rénovation résidentielle et
        industrielle et nous avons une vaste expérience dans tout type de travaux intérieurs et extérieurs.
        Notre mission est de fournir un service rapide et professionnel à nos clients à un prix
        concurrentiel. IBA est cautionné, accrédité par la régie du bâtiment du Québec.
        De plus, nous sommes souscris à une assurance responsabilité de 2&nbsp;000&nbsp;000$ ainsi qu'une caution
        de 40&nbsp;000$.
    </p>
    <h2>Services</h2>
    <div class="display-flex">
        <div class="card">
            <soumission-svg class="service-icon" style="fill: rgb(202, 192, 48);"></soumission-svg>
            <div>Soumission gratuite</div>
        </div>
        <div class="card">
            <kitchen-svg class="service-icon" style="fill: rgb(49, 165, 165);"></kitchen-svg>
            <div>Cuisine</div>
        </div>
        <div class="card">
            <sink-svg class="service-icon" style="fill: coral;"></sink-svg>
            <div>Salle de bain</div>
        </div>
        <div class="card">
            <stairs-svg class="service-icon" style="fill: rgb(151, 76, 189);"></stairs-svg>
            <div>Sous-sol</div>
        </div>
        <div class="card">
            <door-svg class="service-icon" style="fill: palevioletred;"></door-svg>
            <div>Portes et fenêtres</div>
        </div>
    </div>
    <div class="see-project">
        <h3>Voir des projets</h3>
        <mat-icon>arrow_forward</mat-icon>
    </div>
    <div class="contact">
        <div class="flex-1">
            <h2 class="pl-0">Coordonnées</h2>
            <div>IOSIF BALEA</div>
            <div><a href="tel:514-516-2856">514-516-2856</a></div>
            <div><a href="mailto:baleaiosif@gmail.com">baleaiosif@gmail.com</a></div><br>
            <div>APCHQ : 556749 03</div>
            <div>RBQ : 5801 1313 01</div>
            <div>NEQ : 1176399724</div>
        </div>
        <div class="email-form flex-2">
            <h2 class="pl-0">Envoyez-nous un courriel</h2>
            <mat-form-field appearance="fill">
                <mat-label>Votre courriel</mat-label>
                <input matInput placeholder="pat@example.com" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage(this.email)}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Détaillez vos besoins</mat-label>
                <textarea matInput [formControl]="emailContent" required></textarea>
                <mat-error *ngIf="emailContent.invalid">{{getErrorMessage(this.emailContent)}}</mat-error>
            </mat-form-field>
            <div>
                <button mat-raised-button color="primary">Envoyer</button>
            </div>
        </div>
    </div>
</div>