@import "../../styles.scss";

.hero {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/heroImages/cuisine.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-title-container {
  background-image: linear-gradient(.25turn, #0e1111, #0e111100);
  width: 100%;
}

.hero-title {
  text-shadow: 0px 0px 5px black;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  position: absolute;
  padding: 24px;
  top: 50%;
}

a {
 color: inherit;
 text-decoration: none;
}

p {
  padding: 16px;
}

.accueil-body {
  max-width: 1200px;
  margin: auto;
  padding-top: 32px;
  padding-bottom: 64px;
  // background-color: #0e1111;
  text-align: center;
}

.display-flex {
  display: flex;
  overflow-x: auto;
  text-align: center;
  gap: 16px;
  justify-content: space-between;
  margin: 0px 16px;
  padding-bottom: 6px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

// /* Track */
// ::-webkit-scrollbar-track {
//   background: #f1f1f1;
// }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card {
  background-color: #202020;
  color: #fff;
  padding: 10px;
  box-shadow: 0px 1px 5px black;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 1;
}

.service-icon {
  width: 120px;
  font-size: 100px;
  padding: 10px
}

.contact {
  display: flex;
  margin: auto;
  text-align: left;
  padding: 16px;
  gap: 16px;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.pl-0 {
  padding-left: 0px;
}

@media (orientation: portrait) {
  .hero-title-container {
    background-image: linear-gradient(#0e111100, #0e1111);
  }

  .hero-title {
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    bottom: 0;
    left: 0;
    top: auto
  }

  .accueil-body {
    text-align: left;
    padding-top: 0px;
  }

  .contact {
    margin: 24px;
    padding: 0;
    flex-direction: column;
  }

}

mat-toolbar {
  position: fixed;
  z-index: 1;
}

.email-form {
  display: flex;
  flex-direction: column;
}

textarea {
  height: 300px;
}

.pr-1 {
  padding-right: 8px;
}

.see-projects {
  display: flex;
  flex-direction: column;
  padding: 16px;
}