<!-- <mat-toolbar style="position: fixed;" color="">
    <span>IBA</span>
    <span class="toolbar-spacer"></span>
    <button mat-button>Réalisations</button>
    <button mat-button>Nous contacter</button>
</mat-toolbar> -->
<div class="hero">
    <div class="hero-text-container">
        <h1 id="hero-text">Des changements qui font toute la <span style="color: #004E98;">différence</span></h1>
        <button mat-raised-button color="primary">Soumission gratuite</button>
    </div>
    <!-- <img class="img-tools" src="assets/tools.jpg"> -->
</div>
<div>
    <img class="img-sanding" src="assets/sanding.jpg">
    <h2 class=".mat-title" >Du travail de qualité</h2>
    <p class=".mat-body">
        IBA est une entreprise de Mascouche oeuvrant dans le domaine de la construction et de la rénovation depuis de nombreuses années. Nous sommes spécialisés dans la rénovation résidentielle et industrielle.<br>
        Nous avons une vaste expérience dans tout type de travaux intérieurs et extérieurs. Que ce soit pour la construction ou la rénovation de votre cuisine, du sous-sol, de la salle de bain ou de l'installation de portes et fenêtres, nous pouvons vous aider.<br>
        Notre mission est de fournir un service rapide et professionnel à nos clients à un prix concurrentiel.<br>     
        IBA est cautionné, accrédité par la régie du bâtiment du Québec sous le numéro RBQ: 5801 1313 01. De plus, nous sommes souscris à une assurance responsabilité de 2 000 000$ ainsi qu'une caution avec APCHQ de 40 000$. 
    </p>
</div>
<div>
    <h2 class=".mat-title">Services</h2>
    <div>
        <!-- services cards -->
    </div>
    <button mat-stroked-button>Nos projets</button>
</div>
<footer>
    <div>
        <div>
            <!-- missing logo -->
            <a href="tel:514-516-2856">514-516-2856</a>
            <a href="mailto:baleaiosif@gmail.com">baleaiosif@gmail.com</a><br>
            <a>Réalisations</a>
            <a>Nous contacter</a>
            <a>Venez voir notre facebook!</a>
        </div>
        <div>
            <p>APCHQ : 556749 03</p>
            <p>RBQ : 5801 1313 01</p>
            <p>NEQ : 1176399724</p>
        </div>
    </div>
    
</footer>

